[Unit]
Description=WD Hardware Controller Daemon
#Wants=network-online.target
#After=network-online.target

[Service]
Type=simple
User=wdhwd
Group=wdhwd
SupplementaryGroups=i2c dialout
Environment=
WorkingDirectory=/run/wdhwd
RuntimeDirectory=wdhwd
RuntimeDirectoryMode=0750
#LogsDirectory=wdhwd
#LogsDirectoryMode=0750
StandardOutput=inherit
ExecStart=/opt/wdhwd/bin/wdhwd -q
Restart=always
RestartPreventExitStatus=10 11
#ExecReload=/opt/wdhwd/bin/wdhwc -q reload
ExecStop=/opt/wdhwd/bin/wdhwc -q shutdown
KillMode=mixed

[Install]
WantedBy=multi-user.target
